{% extends '::base.html.twig' %}

{% block body %}

    <h2><a href="{{ path('index') }}">Main</a></h2>

    <form method="post" action="" novalidate="novalidate">
        {{ form(form) }}
    </form>

{% endblock %}
